<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minor Web Development enquete</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Minor Web Development</h1>
        <a href=""></a>
    </header>
    <main>
        <form action="">
            <fieldset>
                <legend>Student</legend>
                <label for="studentName">Naam:</label>
                <input type="text" name="" id="studentName" required><br />
                <label for="studentID">Studentnummer:</label>
                <input type="number" name="" id="studentID" required>
            </fieldset>
            <fieldset>
                <legend>Vak(ken)</legend>
                <fieldset>
                    <label for="vakken">Vakken:</label>
                    <select name="vakken" id="vakken" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken1" id="week1-3" value="1-3">
                    <label for="week1-3">weken 1-3</label><br />
                    <input type="radio" name="weken1" id="week4-6" value="4-6">
                    <label for="week4-6">weken 4-6</label><br />
                    <input type="radio" name="weken1" id="week7-9" value="7-9">
                    <label for="week7-9">weken 7-9</label><br />
                    <input type="radio" name="weken1" id="week10-12" value="10-12">
                    <label for="week10-12">weken 10-12</label><br />
                    <label for="docentName">Naam van docenten:</label>
                    <input type="text" name="" id="docentName" required><br />
                    <label for="lesstof">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof" placeholder="1-10" required><br />
                    <label for="uitleg">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg" placeholder="1-10" required><br />
                    <label for="ownSights">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken">Vakken:</label>
                    <select name="vakken" id="vakken" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken2" id="week1-3" value="1-3">
                    <label for="week1-3">weken 1-3</label><br />
                    <input type="radio" name="weken2" id="week4-6" value="4-6">
                    <label for="week4-6">weken 4-6</label><br />
                    <input type="radio" name="weken2" id="week7-9" value="7-9">
                    <label for="week7-9">weken 7-9</label><br />
                    <input type="radio" name="weken2" id="week10-12" value="10-12">
                    <label for="week10-12">weken 10-12</label><br />
                    <label for="docentName">Naam van docenten:</label>
                    <input type="text" name="" id="docentName" required><br />
                    <label for="lesstof">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof" placeholder="1-10" required><br />
                    <label for="uitleg">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg" placeholder="1-10" required><br />
                    <label for="ownSights">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken">Vakken:</label>
                    <select name="vakken" id="vakken" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken3" id="week1-3" value="1-3">
                    <label for="week1-3">weken 1-3</label><br />
                    <input type="radio" name="weken3" id="week4-6" value="4-6">
                    <label for="week4-6">weken 4-6</label><br />
                    <input type="radio" name="weken3" id="week7-9" value="7-9">
                    <label for="week7-9">weken 7-9</label><br />
                    <input type="radio" name="weken3" id="week10-12" value="10-12">
                    <label for="week10-12">weken 10-12</label><br />
                    <label for="docentName">Naam van docenten:</label>
                    <input type="text" name="" id="docentName" required><br />
                    <label for="lesstof">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof" placeholder="1-10" required><br />
                    <label for="uitleg">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg" placeholder="1-10" required><br />
                    <label for="ownSights">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken">Vakken:</label>
                    <select name="vakken" id="vakken" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken4" id="week1-3" value="1-3">
                    <label for="week1-3">weken 1-3</label><br />
                    <input type="radio" name="weken4" id="week4-6" value="4-6">
                    <label for="week4-6">weken 4-6</label><br />
                    <input type="radio" name="weken4" id="week7-9" value="7-9">
                    <label for="week7-9">weken 7-9</label><br />
                    <input type="radio" name="weken4" id="week10-12" value="10-12">
                    <label for="week10-12">weken 10-12</label><br />
                    <label for="docentName">Naam van docenten:</label>
                    <input type="text" name="" id="docentName" required><br />
                    <label for="lesstof">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof" placeholder="1-10" required><br />
                    <label for="uitleg">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg" placeholder="1-10" required><br />
                    <label for="ownSights">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken">Vakken:</label>
                    <select name="vakken" id="vakken" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken5" id="week1-3" value="1-3">
                    <label for="week1-3">weken 1-3</label><br />
                    <input type="radio" name="weken5" id="week4-6" value="4-6">
                    <label for="week4-6">weken 4-6</label><br />
                    <input type="radio" name="weken5" id="week7-9" value="7-9">
                    <label for="week7-9">weken 7-9</label><br />
                    <input type="radio" name="weken5" id="week10-12" value="10-12">
                    <label for="week10-12">weken 10-12</label><br />
                    <label for="docentName">Naam van docenten:</label>
                    <input type="text" name="" id="docentName" required><br />
                    <label for="lesstof">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof" placeholder="1-10" required><br />
                    <label for="uitleg">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg" placeholder="1-10" required><br />
                    <label for="ownSights">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken">Vakken:</label>
                    <select name="vakken" id="vakken" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken6" id="week1-3" value="1-3">
                    <label for="week1-3">weken 1-3</label><br />
                    <input type="radio" name="weken6" id="week4-6" value="4-6">
                    <label for="week4-6">weken 4-6</label><br />
                    <input type="radio" name="weken6" id="week7-9" value="7-9">
                    <label for="week7-9">weken 7-9</label><br />
                    <input type="radio" name="weken6" id="week10-12" value="10-12">
                    <label for="week10-12">weken 10-12</label><br />
                    <label for="docentName">Naam van docenten:</label>
                    <input type="text" name="" id="docentName" required><br />
                    <label for="lesstof">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof" placeholder="1-10" required><br />
                    <label for="uitleg">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg" placeholder="1-10" required><br />
                    <label for="ownSights">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights" placeholder="1-10" required>
                </fieldset>
            </fieldset>
        </form>
        <button type="submit">Verstuur enquete</button>
    </main>
</body>
</html>