<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minor Web Development enquete</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Minor Web Development</h1>
        <a href=""></a>
    </header>
    <main>
        <form action="">
            <fieldset>
                <legend>Student</legend>
                <label for="studentName">Naam:</label>
                <input type="text" name="" id="studentName" required><br />
                <label for="studentID">Studentnummer:</label>
                <input type="number" name="" id="studentID" required>
            </fieldset>
            <fieldset>
                <legend>Vak(ken)</legend>
                <fieldset>
                    <label for="vakken1">Vakken:</label>
                    <select name="vakken1" id="vakken1" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken1" id="radio1.1" value="1-3">
                    <label for="radio1.1">weken 1-3</label><br />
                    <input type="radio" name="weken1" id="radio1.2" value="4-6">
                    <label for="radio1.2">weken 4-6</label><br />
                    <input type="radio" name="weken1" id="radio1.3" value="7-9">
                    <label for="radio1.3">weken 7-9</label><br />
                    <input type="radio" name="weken1" id="radio1.4" value="10-12">
                    <label for="radio1.4">weken 10-12</label><br />
                    
                    <label for="docentName1">Naam van docenten:</label>
                    <input type="text" name="" id="docentName1" required><br />
                    
                    <label for="lesstof1">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof1" placeholder="1-10" required><br />
                    
                    <label for="uitleg1">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg1" placeholder="1-10" required><br />
                    
                    <label for="ownSights1">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights1" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken2">Vakken:</label>
                    <select name="vakken" id="vakken2" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken2" id="radio2.1" value="1-3">
                    <label for="radio2.1">weken 1-3</label><br />
                    <input type="radio" name="weken2" id="radio2.2" value="4-6">
                    <label for="radio2.2">weken 4-6</label><br />
                    <input type="radio" name="weken2" id="radio2.3" value="7-9">
                    <label for="radio2.3">weken 7-9</label><br />
                    <input type="radio" name="weken2" id="radio2.4" value="10-12">
                    <label for="radio2.4">weken 10-12</label><br />
                    
                    <label for="docentName2">Naam van docenten:</label>
                    <input type="text" name="" id="docentName2" required><br />
                    
                    <label for="lesstof2">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof2" placeholder="1-10" required><br />
                    
                    <label for="uitleg2">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg2" placeholder="1-10" required><br />
                    
                    <label for="ownSights2">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights2" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken3">Vakken:</label>
                    <select name="vakken" id="vakken3" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken3" id="radio3.1" value="1-3">
                    <label for="radio3.1">weken 1-3</label><br />
                    <input type="radio" name="weken3" id="radio3.2" value="4-6">
                    <label for="radio3.2">weken 4-6</label><br />
                    <input type="radio" name="weken3" id="radio3.3" value="7-9">
                    <label for="radio3.3">weken 7-9</label><br />
                    <input type="radio" name="weken3" id="radio3.4" value="10-12">
                    <label for="radio3.4">weken 10-12</label><br />
                   
                    <label for="docentName3">Naam van docenten:</label>
                    <input type="text" name="" id="docentName3" required><br />
                    
                    <label for="lesstof3">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof3" placeholder="1-10" required><br />
                    
                    <label for="uitleg3">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg3" placeholder="1-10" required><br />
                    
                    <label for="ownSights3">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights3" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken4">Vakken:</label>
                    <select name="vakken" id="vakken4" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken4" id="radio4.1" value="1-3">
                    <label for="radio4.1">weken 1-3</label><br />
                    <input type="radio" name="weken4" id="radio4.2" value="4-6">
                    <label for="radio4.2">weken 4-6</label><br />
                    <input type="radio" name="weken4" id="radio4.3" value="7-9">
                    <label for="radio4.3">weken 7-9</label><br />
                    <input type="radio" name="weken4" id="radio4.4" value="10-12">
                    <label for="radio4.4">weken 10-12</label><br />

                    <label for="docentName4">Naam van docenten:</label>
                    <input type="text" name="" id="docentName4" required><br />

                    <label for="lesstof4">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof4" placeholder="1-10" required><br />
                    
                    <label for="uitleg4">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg4" placeholder="1-10" required><br />
                    
                    <label for="ownSights4">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights4" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken5">Vakken:</label>
                    <select name="vakken" id="vakken5" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken5" id="radio5.1" value="1-3">
                    <label for="radio5.1">weken 1-3</label><br />
                    <input type="radio" name="weken5" id="radio5.2" value="4-6">
                    <label for="radio5.2">weken 4-6</label><br />
                    <input type="radio" name="weken5" id="radio5.3" value="7-9">
                    <label for="radio5.3">weken 7-9</label><br />
                    <input type="radio" name="weken5" id="radio5.4" value="10-12">
                    <label for="radio5.4">weken 10-12</label><br />
                    
                    <label for="docentName5">Naam van docenten:</label>
                    <input type="text" name="" id="docentName5" required><br />
                   
                    <label for="lesstof5">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof5" placeholder="1-10" required><br />
                    
                    <label for="uitleg5">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg5" placeholder="1-10" required><br />
                    
                    <label for="ownSights5">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights5" placeholder="1-10" required>
                </fieldset>
                <fieldset>
                    <label for="vakken6">Vakken:</label>
                    <select name="vakken" id="vakken6" required>
                        <option value="WAFS">WAFS</option>
                        <option value="CSS-to-the-rescue">CSS to the rescue</option>
                        <option value="Progressive-web-apps">Progressive web apps</option>
                        <option value="browser_technologies">Browser technologies</option>
                        <option value="human centered design">Human centered design</option>
                        <option value="realtime-web">Realtime web</option>
                    </select><br />
                    <p>In welke weken van de minor had je het vak?</p>
                    <input type="radio" name="weken6" id="radio6.1" value="1-3">
                    <label for="radio6.1">weken 1-3</label><br />
                    <input type="radio" name="weken6" id="radio6.2" value="4-6">
                    <label for="radio6.2">weken 4-6</label><br />
                    <input type="radio" name="weken6" id="radio6.3" value="7-9">
                    <label for="radio6.3">weken 7-9</label><br />
                    <input type="radio" name="weken6" id="radio6.4" value="10-12">
                    <label for="radio6.4">weken 10-12</label><br />
                    
                    <label for="docentName6">Naam van docenten:</label>
                    <input type="text" name="" id="docentName6" required><br />
                    
                    <label for="lesstof6">Hoe moeilijk vond je de lesstof?</label>
                    <input type="number" min="1" max="10" name="" id="lesstof6" placeholder="1-10" required><br />
                    
                    <label for="uitleg6">Hoe duidelijk was de uitleg?</label>
                    <input type="number" min="1" max="10" name="" id="uitleg6" placeholder="1-10" required><br />
                    
                    <label for="ownSights6">Hoe goed snap je het?</label>
                    <input type="number" min="1" max="10" name="" id="ownSights6" placeholder="1-10" required>
                </fieldset>
            </fieldset>
            <button type="submit">Verstuur enquete</button>
        </form>
    </main>
</body>
</html>