/* --- Styling Reset --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* --- End Styling Reset --- */
@supports (background: linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%)) {
    body {
        background: linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
        background: -webkit-linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), -webkit-linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
        background: -moz-linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), -moz-linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
        background: -ms-linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), -ms-linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
        background: -o-linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), -o-linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
        background-size: cover;
        background-attachment: fixed
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #34A8E0;
}

header {
    padding: 0.5em 2em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin-bottom: 1em;
}

header h1 {
    text-align: center;
}

header a {
    color: white;
    float: left;
    margin: 0.5em 0em;
    text-decoration: underline;
}

form {
    padding-left: 0.5em;
    padding-bottom: 1em;
}

fieldset {
    padding: 1em 0.5em;
    border: none;
}

fieldset fieldset {
    border-bottom: 1px solid black;
}

fieldset fieldset:last-of-type {
    border-bottom: none;
}

legend {
    font-size: 1.75em;
    border-bottom: 1px solid black;
}

input {
    margin-top: 0.4em;
}

label + input, select {
    margin-bottom: 1em;
}

label, input {
    display: block;
}

fieldset input[type="radio"], fieldset input[type="radio"] + label {
    display: inline-block;
}

fieldset .docent {
    margin-top: 1em;
}

form button {
    display: block;
    width: 7.5em;
    border-radius: 2em;
    padding: 0.5em 0em;
    margin: 0 auto;
    border: none;
}

form button:focus {
    background-color: darkgray;
    border: lightgray;
}

input, button {
    cursor: pointer;
}

#results a {
    color: black;
    background-color: white;
    display: block;
    padding: 1em 0em;
}

#results p {
    display: inline-block;
    padding: 0% 10%;
}

#results .studentID {
    float: right;
}

#detail {
    padding: 1em 0em 1em 1em;
    margin: 0em 1em 1em;
    background-color: white;
}

@supports(display:flex) {
    #results a article {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        flex-grow: 2;
    }
}